{% extends 'default.html' %} {%block content%}<table id="this_table" class="html_table">
    <thead>
        <tr>
            <th>Key</th>
            <th>Type</th>
            <th>Epic</th>
            <th>Summary</th>
            <th>Prio</th>
            <th>Assignee</th>
            <th>Created</th>
            <th>In Progress</th>
            <th>Resolution Date</th>
            <th>Days</th>
            <th>DIP</th>
            <th>SP</th>
            <th>DPP</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>TEST-368</td>
            <td>Epic</td>
            <td>None</td>
            <td>test epic 2</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-09-01</td>
            <td></td>
            <td>2022-10-07</td>
            <td>36</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-367</td>
            <td>Epic</td>
            <td>None</td>
            <td>test epic 1</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-09-01</td>
            <td></td>
            <td>2022-10-07</td>
            <td>36</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-366</td>
            <td>Bug</td>
            <td>TEST-367</td>
            <td>Calling- The dialler screen ap</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-09-01</td>
            <td></td>
            <td>2022-10-07</td>
            <td>36</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-363</td>
            <td>Task</td>
            <td>None</td>
            <td>Incorporate ServiceFramework 0</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-09-01</td>
            <td></td>
            <td>2022-10-07</td>
            <td>36</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-361</td>
            <td>Bug</td>
            <td>None</td>
            <td>Navigation- Activity Stream it</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-08-25</td>
            <td></td>
            <td>2022-10-07</td>
            <td>43</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-350</td>
            <td>Story</td>
            <td>None</td>
            <td>Handle various user push notif</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-08-19</td>
            <td></td>
            <td>2022-10-07</td>
            <td>49</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-347</td>
            <td>Iteration Bug</td>
            <td>None</td>
            <td>Messaging- Unable to paste on </td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-08-10</td>
            <td></td>
            <td>2022-10-07</td>
            <td>58</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-345</td>
            <td>Task</td>
            <td>None</td>
            <td>Investigate issue with tagged </td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-08-09</td>
            <td></td>
            <td>2022-10-07</td>
            <td>59</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-344</td>
            <td>Story</td>
            <td>None</td>
            <td>Investigate doing case label v</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-08-09</td>
            <td></td>
            <td>2022-10-07</td>
            <td>59</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-341</td>
            <td>Story</td>
            <td>None</td>
            <td>User can log in</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-08-08</td>
            <td></td>
            <td>2022-10-07</td>
            <td>60</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-340</td>
            <td>Story</td>
            <td>None</td>
            <td>Create an Action type  and mak</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-08-04</td>
            <td></td>
            <td>2022-10-07</td>
            <td>64</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-338</td>
            <td>Story</td>
            <td>None</td>
            <td>Validate with design that fore</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-08-04</td>
            <td></td>
            <td>2022-10-07</td>
            <td>64</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-337</td>
            <td>Story</td>
            <td>None</td>
            <td>Basic Onboarding (Fallback flo</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-08-04</td>
            <td></td>
            <td>2022-10-07</td>
            <td>64</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-336</td>
            <td>Iteration Bug</td>
            <td>TEST-367</td>
            <td>Calling- No error handling for</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-08-04</td>
            <td></td>
            <td>2022-10-07</td>
            <td>64</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-335</td>
            <td>Bug</td>
            <td>TEST-367</td>
            <td>Calling- Drop in performance a</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-08-04</td>
            <td></td>
            <td>2022-10-07</td>
            <td>64</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-333</td>
            <td>Bug</td>
            <td>TEST-367</td>
            <td>Calling- The phone warms up wh</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-08-03</td>
            <td></td>
            <td>2022-10-07</td>
            <td>65</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-332</td>
            <td>Iteration Bug</td>
            <td>TEST-367</td>
            <td>Calling- No animation when ent</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-08-03</td>
            <td></td>
            <td>2022-10-07</td>
            <td>65</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-329</td>
            <td>Iteration Bug</td>
            <td>TEST-368</td>
            <td>Messaging- The cursor rapidly </td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-08-03</td>
            <td></td>
            <td>2022-10-07</td>
            <td>65</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-328</td>
            <td>Iteration Bug</td>
            <td>TEST-368</td>
            <td>Calling- Same proxy number sho</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-08-03</td>
            <td></td>
            <td>2022-10-07</td>
            <td>65</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-323</td>
            <td>Story</td>
            <td>TEST-368</td>
            <td>User can add and interact with</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-08-02</td>
            <td></td>
            <td>2022-10-07</td>
            <td>66</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-322</td>
            <td>Story</td>
            <td>TEST-368</td>
            <td>Create initializer for Calling</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-07-29</td>
            <td></td>
            <td>2022-10-07</td>
            <td>70</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-321</td>
            <td>Story</td>
            <td>TEST-368</td>
            <td>Connect Contact data to placin</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-07-29</td>
            <td></td>
            <td>2022-10-07</td>
            <td>70</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-320</td>
            <td>Story</td>
            <td>TEST-368</td>
            <td>Hook up logic to lookup, add, </td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-07-29</td>
            <td></td>
            <td>2022-10-07</td>
            <td>70</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-319</td>
            <td>Story</td>
            <td>TEST-368</td>
            <td>Create assets and colors to ha</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-07-29</td>
            <td></td>
            <td>2022-10-07</td>
            <td>70</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-316</td>
            <td>Task</td>
            <td>TEST-368</td>
            <td>Port tab layout to new navigat</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-07-28</td>
            <td></td>
            <td>2022-10-07</td>
            <td>71</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-315</td>
            <td>Task</td>
            <td>TEST-368</td>
            <td>Port drawer layout to new navi</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-07-28</td>
            <td></td>
            <td>2022-10-07</td>
            <td>71</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-313</td>
            <td>Story</td>
            <td>None</td>
            <td>Add functionality to balance s</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-07-27</td>
            <td></td>
            <td>2022-10-07</td>
            <td>72</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-310</td>
            <td>Story</td>
            <td>None</td>
            <td>Use the Persistance Country Mo</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-07-27</td>
            <td></td>
            <td>2022-10-07</td>
            <td>72</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-305</td>
            <td>Bug</td>
            <td>None</td>
            <td>[P1] Messaging- The message ge</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-07-21</td>
            <td></td>
            <td>2022-10-07</td>
            <td>78</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-304</td>
            <td>Bug</td>
            <td>None</td>
            <td>[P1] Messaging- Random app cra</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-07-21</td>
            <td></td>
            <td>2022-10-07</td>
            <td>78</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-302</td>
            <td>Bug</td>
            <td>None</td>
            <td>Messaging- The sent message ta</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-07-21</td>
            <td></td>
            <td>2022-10-07</td>
            <td>78</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-301</td>
            <td>Task</td>
            <td>None</td>
            <td>Fix duplicate dismissal of cou</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-07-21</td>
            <td></td>
            <td>2022-10-07</td>
            <td>78</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-300</td>
            <td>Bug</td>
            <td>None</td>
            <td>[P1] Messaging- Once the new c</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-07-21</td>
            <td></td>
            <td>2022-10-07</td>
            <td>78</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-294</td>
            <td>Story</td>
            <td>None</td>
            <td>Implement Contact Editing</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-07-19</td>
            <td></td>
            <td>2022-10-07</td>
            <td>80</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-290</td>
            <td>Story</td>
            <td>None</td>
            <td>User can view and interact wit</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-07-18</td>
            <td></td>
            <td>2022-10-07</td>
            <td>81</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-289</td>
            <td>Story</td>
            <td>None</td>
            <td>Implement a Switch view</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-07-18</td>
            <td></td>
            <td>2022-10-07</td>
            <td>81</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-284</td>
            <td>Bug</td>
            <td>None</td>
            <td>[P2] - Messaging- Inconsistent</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-07-14</td>
            <td></td>
            <td>2022-10-07</td>
            <td>85</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-283</td>
            <td>Bug</td>
            <td>None</td>
            <td>[P1] Messaging- Long messages </td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-07-14</td>
            <td></td>
            <td>2022-10-07</td>
            <td>85</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-282</td>
            <td>Story</td>
            <td>None</td>
            <td>Messaging: Timestamp</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-07-14</td>
            <td></td>
            <td>2022-10-07</td>
            <td>85</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-281</td>
            <td>Story</td>
            <td>None</td>
            <td>Messaging: Broadcast Message</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-07-14</td>
            <td></td>
            <td>2022-10-07</td>
            <td>85</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-277</td>
            <td>Story</td>
            <td>None</td>
            <td>Phone number validation in con</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-07-13</td>
            <td></td>
            <td>2022-10-07</td>
            <td>86</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-270</td>
            <td>Task</td>
            <td>None</td>
            <td>Allow `support` conversations</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-07-11</td>
            <td></td>
            <td>2022-10-07</td>
            <td>88</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-269</td>
            <td>Bug</td>
            <td>None</td>
            <td>Navigation- Menu items in the </td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-07-11</td>
            <td></td>
            <td>2022-10-07</td>
            <td>88</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-265</td>
            <td>Bug</td>
            <td>None</td>
            <td>Navigation- In dark mode some </td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-07-07</td>
            <td></td>
            <td>2022-10-07</td>
            <td>92</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-263</td>
            <td>Bug</td>
            <td>None</td>
            <td>[P3] Messaging- A newly sent m</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-07-07</td>
            <td></td>
            <td>2022-10-07</td>
            <td>92</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-262</td>
            <td>Task</td>
            <td>None</td>
            <td>[P1] Messaging- Contact names </td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-07-07</td>
            <td></td>
            <td>2022-10-07</td>
            <td>92</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-259</td>
            <td>Story</td>
            <td>None</td>
            <td>Investigate whether persistenc</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-07-05</td>
            <td></td>
            <td>2022-10-07</td>
            <td>94</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-257</td>
            <td>Story</td>
            <td>None</td>
            <td>Investigate semantic vs identi</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-07-01</td>
            <td></td>
            <td>2022-10-07</td>
            <td>98</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-255</td>
            <td>Bug</td>
            <td>None</td>
            <td>[P1] Messaging- Old sent messa</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-06-30</td>
            <td></td>
            <td>2022-10-07</td>
            <td>99</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-249</td>
            <td>Bug</td>
            <td>None</td>
            <td>[P1] Messaging- The conversati</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-06-29</td>
            <td></td>
            <td>2022-10-07</td>
            <td>100</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-247</td>
            <td>Bug</td>
            <td>None</td>
            <td>[P1] Messaging- The first mess</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-06-29</td>
            <td></td>
            <td>2022-10-07</td>
            <td>100</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-239</td>
            <td>Task</td>
            <td>None</td>
            <td>Streamline and solidify TestFl</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-06-28</td>
            <td></td>
            <td>2022-10-07</td>
            <td>101</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-238</td>
            <td>Task</td>
            <td>None</td>
            <td>In P-containing AA app, make P</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-06-28</td>
            <td></td>
            <td>2022-10-07</td>
            <td>101</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-231</td>
            <td>Bug</td>
            <td>None</td>
            <td>[P2] Messaging- Persistent unr</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-06-28</td>
            <td></td>
            <td>2022-10-07</td>
            <td>101</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-229</td>
            <td>Bug</td>
            <td>None</td>
            <td>[P1] Log In- Unable to login o</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-06-28</td>
            <td></td>
            <td>2022-10-07</td>
            <td>101</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-223</td>
            <td>Subtask</td>
            <td>None</td>
            <td>Add tabs layout</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-06-22</td>
            <td></td>
            <td>2022-10-07</td>
            <td>107</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-222</td>
            <td>Subtask</td>
            <td>None</td>
            <td>Add custom Rows (DataUsageView</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-06-22</td>
            <td></td>
            <td>2022-10-07</td>
            <td>107</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-221</td>
            <td>Subtask</td>
            <td>None</td>
            <td>Add Drag Gesture to open/close</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-06-22</td>
            <td></td>
            <td>2022-10-07</td>
            <td>107</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-220</td>
            <td>Subtask</td>
            <td>None</td>
            <td>Add open/close Drawer with ani</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-06-22</td>
            <td></td>
            <td>2022-10-07</td>
            <td>107</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-218</td>
            <td>Story</td>
            <td>None</td>
            <td>After leaving a conversation a</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-06-21</td>
            <td></td>
            <td>2022-10-07</td>
            <td>108</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-217</td>
            <td>Story</td>
            <td>None</td>
            <td>Figure out how to use sub stat</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-06-21</td>
            <td></td>
            <td>2022-10-07</td>
            <td>108</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-216</td>
            <td>Story</td>
            <td>None</td>
            <td>Properly implement store.unwra</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-06-21</td>
            <td></td>
            <td>2022-10-07</td>
            <td>108</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-208</td>
            <td>Task</td>
            <td>None</td>
            <td>Review accessibility modifiers</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-06-03</td>
            <td></td>
            <td>2022-10-07</td>
            <td>126</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-205</td>
            <td>Task</td>
            <td>None</td>
            <td>Add accessibility identifiers </td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-06-01</td>
            <td></td>
            <td>2022-10-07</td>
            <td>128</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-202</td>
            <td>Story</td>
            <td>None</td>
            <td>Convert shared views to Rocket</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-05-31</td>
            <td></td>
            <td>2022-10-07</td>
            <td>129</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-193</td>
            <td>Task</td>
            <td>None</td>
            <td>Refactor Calling&#x27;s NorthAmeric</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-05-25</td>
            <td></td>
            <td>2022-10-07</td>
            <td>135</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-185</td>
            <td>Task</td>
            <td>None</td>
            <td>Investigate how to display cal</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-05-20</td>
            <td></td>
            <td>2022-10-07</td>
            <td>140</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-182</td>
            <td>Story</td>
            <td>None</td>
            <td>Port settings to Rocket</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-05-17</td>
            <td></td>
            <td>2022-10-07</td>
            <td>143</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-181</td>
            <td>Story</td>
            <td>None</td>
            <td>Port Coordinator &amp; Tasks to be</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-05-16</td>
            <td></td>
            <td>2022-10-07</td>
            <td>144</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-160</td>
            <td>Story</td>
            <td>None</td>
            <td>Integrate local package tests </td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-05-03</td>
            <td></td>
            <td>2022-10-07</td>
            <td>157</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-135</td>
            <td>Story</td>
            <td>None</td>
            <td>Main Banner - Conversation Lis</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-04-21</td>
            <td></td>
            <td>2022-10-07</td>
            <td>169</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-131</td>
            <td>Story</td>
            <td>None</td>
            <td>Break ViewStore apart to an un</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-04-21</td>
            <td></td>
            <td>2022-10-07</td>
            <td>169</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-123</td>
            <td>Story</td>
            <td>None</td>
            <td>Document Rocket code and provi</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-04-18</td>
            <td></td>
            <td>2022-10-07</td>
            <td>172</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-122</td>
            <td>Story</td>
            <td>None</td>
            <td>Add tests for core rocket func</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-04-18</td>
            <td></td>
            <td>2022-10-07</td>
            <td>172</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-110</td>
            <td>Story</td>
            <td>None</td>
            <td>Main Banner - Adaptive Banner</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-04-13</td>
            <td></td>
            <td>2022-10-07</td>
            <td>177</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-95</td>
            <td>Story</td>
            <td>None</td>
            <td>Show messages from AA as a mes</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-04-04</td>
            <td></td>
            <td>2022-10-07</td>
            <td>186</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>TEST-89</td>
            <td>Task</td>
            <td>None</td>
            <td>Bring over Group Details to P</td>
            <td>np</td>
            <td>nobody</td>
            <td>2022-03-31</td>
            <td></td>
            <td>2022-10-07</td>
            <td>190</td>
            <td>0</td>
            <td>None</td>
            <td>n/a</td>
        </tr>
    </tbody>
</table>{%endblock%}